.homeContainer {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 900px;
  }
  .service {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(214, 214, 214);
    padding: 20px;
    border-radius: 50px;
    width: 210px;
    box-shadow: 5px 10px 18px #888888;
  }
  .icon-service {
    width: 50px;
    height: 50px;
  }
  .products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    width: 1000px;
    margin-bottom: 80px;
  }
  .productType {
    min-width: 400px;
    height: 250px;
    border: 2px solid rgb(255, 153, 0);
    border-radius: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .productDetail {
    background-color: rgb(255, 255, 255, 0.6);
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .type-1 {
    background-image: url("../../Products/vegetablesCollection.jpg");
  }
  .type-2 {
    background-image: url("../../Products/fruitCollection.jpg");
  }
  .type-3 {
    background-image: url("../../Products/meatCollection.jpg");
  }
  .type-4 {
    background-image: url("../../Products/chickenCollection.jpg");
  }
  .productDetail a {
    text-decoration: none;
    color: gray;
  }
  