.navBarContainer {
    z-index: 2;
    background-color: rgb(153, 204, 0);
    color: white;
    padding: 10px;
    position: fixed;
    height: 50px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(255, 153, 0);
  }
  .navBarContainer a {
    text-decoration: none;
    color: white;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 20%;
    min-width: 200px;
    font-size: 38px;    
    margin-left: 20px;
    cursor: pointer;
  }
  .logoTitle{
    font-family: "Satisfy", cursive;
  }
  .home {
    font-size: 35px;
    width: 20%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 80px;
  }
  
  .btn-cart {
    min-width: 190px;
    position: relative;    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .icon-cart {
    height: 40px;
    width: 50px;
  }
  .counter {
    position: absolute;
    right: 70px;
    top: -5px;
    background-color: rgb(255, 153, 0);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;    
    font-size: 14px;
    font-weight: bold;
  }
  .search {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    width: 100%;
  }
  .search input {
    width: 60%;
    max-width: 500px;
    padding: 5px;
    font-size: 18px;
    border: 2px solid rgb(255, 153, 0);
    border-radius: 10px;
    margin-right: 10px;
  }
  .btn-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    padding: 0 10px;
    color: white;
    border: 2px solid rgb(255, 153, 0);
    border-radius: 10px;
    background-color: rgb(255, 153, 0);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
