.footerContainer {
    background-image: url("../../Products/marche.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-top: 30px;
    border-top: 2px solid rgb(255, 153, 0);
    z-index: 1;
  }
  .footerItems {
    background-color: rgb(153, 204, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
  }
  .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 50px;
  }
  .icon-social {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.1s;
  }
  .icon-social:hover {
    color: rgb(255, 153, 0);
  }
  